body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.btn-custom {
  background-image: linear-gradient(45deg, #a73a5e 0%, #c43a30 100%);
  border-style: none !important;
}

.navbar-container {
  background-image: linear-gradient(to right, #d5d4d0b0 0%, #d5d4d0b0 1%, #eeeeecab 31%, #efeeecab 75%, #e9e9e7a8 100%);
}

.search-btn {
  border-radius: 10rem !important;
}

.search-input {
  border-radius: 10rem !important;
  border-style: none;
}

/*Login page====================================================*/

.login-foreground {
  background-image: url("./assets/images/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-background {
  background-image: url("./assets/images/4-blured.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.login-text {
  font-weight: 900;
  font-size: 8rem;
  color: #b63a46;
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.login-card {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.login-card .card {
  padding: 1rem 0;
  border-radius: 1rem;
  border-style: none;
  background-image: linear-gradient(to top, #d5d4d0b0 0%, #d5d4d0b0 1%, #eeeeecab 31%, #efeeecab 75%, #e9e9e7a8 100%);
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.user-form {
  margin: 2rem 0;
}

.user-input {
  border-radius: 10rem !important;
  border-style: none;
}

.user-btn {
  border-radius: 10rem !important;
  border-style: none;
}

@media only screen and (max-width: 800px) {
  /*Navbar - Responsiveness==============================*/
  .search-input {
    width: 76% !important;
    margin-right: 5px;
  }
  .search-btn {
    width: 20% !important;
  }
}